*
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: skyblue;
    text-align: center;
    min-height: 70px;
    padding: 10px;
}

.contenedor
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: rgb(209, 204, 204);
}

form
{
    width: 100%;
    min-height: calc(100vh - 70px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

label
{
    margin-bottom: 5px;
    display: block;
}

.data
{
    text-align: left;
    float: left;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 15px;
    box-sizing: border-box;
}



.data .lineal
{
    display: inline;
}

.control__btn
{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: skyblue;
   border-style: solid;
}

.control__btn .btn
{
    height: 45px;
    width: 20%;
    margin: 10px;
    cursor: pointer;
    background-color: #AAAAAA;
}

.data input[type="text"],
.data input[type="password"],
.data input[type="date"],
.data input[type="number"],
.data select
{
    width: 100%;
    max-width: 100%;
    padding: 6px;
    font-size: 1rem;
}

footer
{
    text-align: center;
    background-color:rgb(68, 143, 68);
    min-height: 60px;
    padding: 10px;
    margin-top: auto;
}


/* RWD */

@media (min-width: 900px) {
    .data {
        width: 20%; /* Cinco columnas en pantallas grandes */
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    .data {
        width: 33.33%; /* Tres columnas en pantallas medianas */
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    .data {
        width: 50%; /* Dos columnas en pantallas pequeñas */
    }
}

@media (max-width: 499px) {
    .data {
        width: 100%; /* Una columna en pantallas muy pequeñas */
    }

    .control__btn .btn {
        width: 40%;
    }
}
